{% extends 'base.html' %}
{% load i18n %}

{% block central_content %}

    <div class="row modal-head m-0">
        <div class="col-12"><i class="far fa-building"></i>&nbsp; {% trans 'Material' %}: {{obj.name}} </div>
    </div>
    <div class="row toolbar-search p-2 m-0">
        <div class="col-lg-1 b-search"><i class="fas fa-search pt-2"></i></div>
        <div class="col-lg-5 p-0">
            <input type="hidden" class="autosearch" name="s-item-emp-id" id="s-item-emp-id" value="{{obj.id}}"
                data-url="{%url "items-emps-search"%}" data-target="div-emps" 
                data-related="s-item-emp-id,s-item-emp-name,s-item-emp-idate,s-item-emp-edate" />
            {% trans "Nombre" %}:
            <input type="text" class="autosearch form-control form-control-dark w-100" name="s-item-emp-name" id="s-item-emp-name" 
                placeholder="{%trans 'Nombre'%}" data-url="{%url "items-emps-search"%}" data-target="div-emps" 
                data-related="s-item-emp-id,s-item-emp-name,s-item-emp-idate,s-item-emp-edate" />
        </div>
        <div class="col-lg-3 p-0">
            {% trans "Fecha inicial" %}:
            <input type="date" class="autosearch form-control form-control-dark w-100" name="s-item-emp-idate" id="s-item-emp-idate" 
                data-url="{%url "items-emps-search"%}" data-target="div-emps" 
                data-related="s-item-emp-id,s-item-emp-name,s-item-emp-idate,s-item-emp-edate" />
        </div>
        <div class="col-lg-3 p-0">
            {% trans "Fecha final" %}:
            <input type="date" class="autosearch form-control form-control-dark w-100" name="s-item-emp-edate" id="s-item-emp-edate" 
                data-url="{%url "items-emps-search"%}" data-target="div-emps" 
                data-related="s-item-emp-id,s-item-emp-name,s-item-emp-idate,s-item-emp-edate" />
        </div>
    </div>
    <div id="div-emps">{%include "items/items-location-emps.html" with item_list=obj.employees.all%}</div>

    <hr/>

    <div class="row toolbar-search p-2 m-0">
        <div class="col-lg-1 b-search"><i class="fas fa-search pt-2"></i></div>
        <div class="col-lg-5 p-0">
            <input type="hidden" class="autosearch" name="s-item-fac-id" id="s-item-fac-id" value="{{obj.id}}"
                data-url="{%url "items-facs-search"%}" data-target="div-facs" 
                data-related="s-item-fac-id,s-item-fac-name,s-item-fac-idate,s-item-fac-edate" />
            {% trans "Nombre" %}:
            <input type="text" class="autosearch form-control form-control-dark w-100" name="s-item-fac-name" id="s-item-fac-name" 
                placeholder="{%trans 'Nombre'%}" data-url="{%url "items-facs-search"%}" data-target="div-facs" 
                data-related="s-item-fac-id,s-item-fac-name,s-item-fac-idate,s-item-fac-edate" />
        </div>
        <div class="col-lg-3 p-0">
            {% trans "Fecha inicial" %}:
            <input type="date" class="autosearch form-control form-control-dark w-100" name="s-item-fac-idate" id="s-item-fac-idate" 
                data-url="{%url "items-facs-search"%}" data-target="div-facs" 
                data-related="s-item-fac-id,s-item-fac-name,s-item-fac-idate,s-item-fac-edate" />
        </div>
        <div class="col-lg-3 p-0">
            {% trans "Fecha final" %}:
            <input type="date" class="autosearch form-control form-control-dark w-100" name="s-item-fac-edate" id="s-item-fac-edate" 
                data-url="{%url "items-facs-search"%}" data-target="div-facs" 
                data-related="s-item-fac-id,s-item-fac-name,s-item-fac-idate,s-item-fac-edate" />
        </div>
    </div>
    <div id="div-facs">{%include "items/items-location-facs.html" with item_list=obj.facilities.all%}</div>

{% endblock central_content %}


