{% load i18n %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="far fa-building"></i>&nbsp; {% trans 'Material' %} </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> </div>
    </div>
</div>

<div id="div-notification"></div>

<div class="row justify-center">
    <div class="col-8">
        <div class="greybox-sm p-1">
            {% trans "Nombre" %}
            <input type="text" class="form-control autosave" id="name" name="name" value="{{obj.name|default:""}}" 
                title="{{obj.name}}" data-model-name="gestion.item" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Nombre..." /> <span id="name__msg"></span>
        </div>
    </div>
    <div class="col-4">
        <div class="greybox-sm p-1">
            {% trans "Cantidad" %}
            <input type="text" class="form-control autosave" id="amount" name="amount" value="{{obj.amount}}" 
                title="{{obj.amount}}" data-model-name="gestion.item" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Cantidad..." disabled/> <span id="amount__msg"></span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end p-2">
    <button type="button" class="btn btn-primary ark" data-bs-dismiss="modal" data-url="{% url "items-list" %}"
        data-target="item-list">{% trans "Guardar" %}</button>
</div>

