{% extends 'base.html' %}
{% load i18n %}

{% block central_content %}
    <div class="row toolbar-search p-2 m-0">
        <div class="col-lg-1 col-1 b-search"><i class="fas fa-search pt-2"></i></div>
        <div class="col-lg-11 col-11 p-0">
            <input type="text" class="autosearch form-control form-control-dark w-100" name="s-item-name" id="s-item-name" 
               placeholder="{%trans 'Nombre'%}" data-url="{%url "items-search"%}" data-target="item-list" 
               data-related="s-item-name" />
        </div>
    </div>
    <div class="content mt-4">
        <div class="toolbar-content p-3">
	        <h2 class="pathway b-right">{%trans 'Materiales'%} <span id="items-counter" class="badge badge-secondary">
                {{items|length}}</span></h2>
            <button type="button" class="btn btn-sm ark new" data-url="{%url "items-form"%}" data-target-modal="common-modal"> 
                <i class="fas fa-plus"></i> {% trans 'Crear Material' %}</button> 
        </div>
        <div id="item-list" class="ml-list">{% include "items/items-list.html" %}</div>
    </div>
    {% include "common-modal.html" %}
{% endblock central_content %}
