<div class="col-2 mt-2 text-center">
    <a href="{% url 'pwa-home' %}" class="sinpromi"> <i class="fa-2x fas fa-home"></i> <br>Inicio </a>
</div>
<div class="col-3 mt-2 text-center">
    <a class="sinpromi" href="{% url 'pwa-operator-waste' %}"> <i class="fas fa-recycle fa-2x"></i><br>Contenedores </a>
</div>
<div class="col-2 mt-2 text-center">
    <a class="sinpromi" href="{% url 'pwa-operator-route' %}"> <i class="fa-2x fas fa-truck"></i><br>Entregas </a>
</div>
<div class="col-2 mt-2 text-center">
    <a class="sinpromi" href="{% url 'pwa-operator-citizens' %}"> <i class="fa-2x fas fa-walking"></i><br>Recogidas </a>
</div>
<div class="col-2 mt-2 text-center">
    <a class="sinpromi" href="{% url 'pwa-operator-incidents' %}"> <i class="fa-2x fas fa-warning"></i><br>Incidencias </a>
</div>
{%comment%}
<div class="col-2 mt-2 text-center">
    <a class="sinpromi" href="{% url 'pwa-home' %}"> <i class="fa-2x fas fa-cubes"></i><br>Bandejas </a>
</div>
{%endcomment%}
