{% extends "pwa_base.html" %}

{% block content%}
    <div class="col-2 tiny p-2"><strong>Bienvenid@</strong></div>
    <div class="col-8 text-center"> <strong>{{user.employment.full_name}}</strong> </div>
    <div class="col-2 text-center">
        <strong><a class="btn btn-light btn-sm" href="{% url 'pwa-logout' %}"><i class="fas fa-power-off"></i></a></strong></div>
    <div class="col-5"><span class="text-muted tiny">{{user.employment.facility}}</span></div>
    <div class="col-7 text-end">
        <div class="col-2 tiny"><strong>Sesiones</strong></div>
        {% for item in user.employment.get_current_workday %}
            <span class="text-muted tiny">Iniciada: {{item.ini_date|date:"H:i:s"}} - Finalizada: {{item.end_date|date:"H:i:s"}}</span>
        {% endfor %}
        {%comment%}
        {% if user.employment.workday_started %}
            {% if user.employment.get_current_workday.ini_date > user.employment.get_current_workday.end_date %}
                <span class="text-muted tiny">Sesión iniciada a las: {{user.employment.get_current_workday.ini_date|date:"H:i:s"}}</span>
            {% else %}
                <span class="text-muted tiny">Sesión finalizada a las: {{user.employment.get_current_workday.end_date|date:"H:i:s"}}</span>
            {% endif %}
        {% else %}
            <span class="text-muted tiny">Sesión no iniciada</span>
        {% endif %}
        {% endcomment %}
    </div>
    <div class="col-12 p-2 mt-3">
        <div class="row">
            <div class="col-6 text-end my-2">
                <a class="btn btn-light sinpromi w-100" href="{%url 'pwa-operator-waste'%}"> <i class="fas fa-recycle fa-5x"></i><br>Contenedores</a>
            </div>
            <div class="col-6 text-start my-2">
                <a class="btn btn-light sinpromi w-100" href="{%url 'pwa-operator-route'%}"> <i class="fas fa-truck fa-5x"></i><br> Entregas </a>
            </div>
            <div class="col-6 text-end my-2">
                <a class="btn btn-light sinpromi w-100" href="{%url 'pwa-operator-citizens'%}"> <i class="fas fa-walking fa-5x"></i><br>Recogidas</a>
            </div>
            <div class="col-6 text-start my-2">
                <a class="btn btn-light sinpromi w-100" href="{%url 'pwa-operator-incidents'%}"> 
                    <i class="fas fa-warning fa-5x"></i><br>Incidencias</a>
            </div>
            <div class="col-6 text-start my-2">
                <a class="btn btn-light sinpromi w-100" href="{%url 'pwa-operator-sessions'%}"> 
                    {% if not user.employment.workday_started %}
                        <i class="fas fa-play fa-5x"></i><br>Iniciar Jornada
                    {% else %}
                        <i class="fas fa-flag-checkered fa-5x"></i><br>Finalizar Jornada
                    {% endif %}
                </a>
                {%comment%}
                {% if not user.employment.workday_started %}
                    {#{% if user.employment.get_current_workday.ini_date > user.employment.get_current_workday.end_date %}#}
                    <a class="btn btn-light sinpromi w-100" href="{%url 'pwa-operator-end-workday'%}"> 
                        <i class="fas fa-flag-checkered fa-5x"></i><br>Finalizar Jornada</a>
                    {#{% endif %}#}
                {% else %}
                    <a class="btn btn-light sinpromi w-100" href="{%url 'pwa-operator-ini-workday'%}"> 
                        <i class="fas fa-play fa-5x"></i><br>Iniciar Jornada</a>
                {% endif %}
                {%endcomment%}
            </div>
            {% comment %}
                <div class="offset-3 col-6 text-start my-2">
                    <button class="btn btn-light sinpromi w-100"> <i class="fas fa-cubes fa-5x"></i><br> Bandejas </button>
                </div>
            {% endcomment %}
        </div>
    </div>
{% endblock %}
