{% extends "pwa_base.html" %}
{% load i18n app_tags %}

{% block title %} <span class="tiny">Incidents</span> {% endblock %}
{% block content %}
    {% csrf_token %}
    <div class="text-end" style="margin-top: 10px; margin-bottom: 10px">
        <a class="btn btn-success btn-sm" onclick="{% ark 'pwa-operator-incident-edit' 'div-content' %}">Nueva Incidencia</a>
    </div>
    <div class="row" style="border-bottom:1px solid #aaa; margin-bottom:10px">
        <div class="col-4 text-center">Nº Inc</div>
        <div class="col-3 text-center">Fecha</div>
        <div class="col-2 text-center">Hora</div>
        <div class="col-3 text-center">Estado</div>
    </div>
    {% for item in incident_list %}
        <div class="row" style="font-size:0.8em" onclick="{% ark 'pwa-operator-incident-edit' 'div-content' incident_id=item.id %}">
            <div class="col-4 text-center">{{item.code}}</div>
            <div class="col-3 text-center">{{item.creation_date|date:"d-m-Y"}}</div>
            <div class="col-2 text-center">{{item.creation_date|date:"H:i:s"}}</div>
            <div class="col-3 text-center">{% if item.closed %}Cerrada{% else %}Abierta{% endif %}</div>
        </div>
        <br/>
        {%comment%}
        <div class="col-4 text-white p-0 text-center">
            <div class="card" onclick="{% ark 'pwa-operator-waste-edit' 'div-content' item_id=item.pk %}">
                <div class="card-body bg-{{item.class_state}} sinpromi">
                    <div><strong>{{item.filling_degree|floatformat:0}}%</strong></div>
                    <div class="tiny py-auto" style="min-height:35px;">{{waste.waste.name}}</div>
                </div>
            </div>
        </div>
        {%endcomment%}
    {% endfor %}
{% endblock %}
{% block footer %} {% include "operators/footer.html" %} {% endblock %}

