{% load i18n app_tags %}

<h2 class="text-center">Formulario de Recogida</h2>
<p class="text-center"><strong>Fecha: </strong>{{today|date:"Y-m-d H:i:s"}}</p>
<div class="col-12">
    <div class="row my-2">
        <form method="post" action="{% url 'pwa-operator-citizen-save' %}">
            {% csrf_token %}
            <input type="hidden" name="citizen_id" value="{{citizen.pk}}">
            <div class="col-12 text-center">Término Municipal</div>
            <div class="col-12 text-center">
                <select class="form form-control w-100 text-center" name="town">
                    {% for item in town_list %}
                        <option value="{{item.id}}" {%if item.id == citizen.type.id%}selected{%endif%}>{{item.name}}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="col-12 text-center">Identificación</div>
            <div class="col-12 text-center">
                <input class="form  form-control w-100 text-center" type="text" value="{{citizen.identification}}" name="identification">
            </div>
            <div class="col-12 text-center">Teléfono</div>
            <div class="col-12 text-center">
                <input class="form  form-control w-100 text-center" type="text" value="{{citizen.phone}}" name="phone">
            </div>
            <div class="col-12 text-center">Matrícula</div>
            <div class="col-12 text-center">
                <input class="form  form-control w-100 text-center" type="text" value="{{citizen.plate}}" name="plate">
            </div>
            <div class="col-12 text-center">Dirección</div>
            <div class="col-12 text-center">
                <input class="form  form-control w-100 text-center" type="text" value="{{citizen.address}}" name="address">
            </div>
            <div class="col-12 text-center">Código Postal</div>
            <div class="col-12 text-center">
                <input class="form  form-control w-100 text-center" type="text" value="{{citizen.observations}}" name="observations">
            </div>
            {%comment%}
            <div class="col-12 text-center">Observaciones</div>
            <div class="col-12 text-center">
                <textarea class="form form-control w-100 text-center" name="observations">{{citizen.observations}}</textarea>
            </div>
            {%endcomment%}

            <div class="row my-2"><div class="col-12">&nbsp;</div></div>
            <div class="row my-2"><div class="col-12">&nbsp;</div></div>
            <div class="row">
                <div class="{%if citizen%}col-6{%else%}col-12{%endif%} text-center">
                    <button type="submit" class="btn btn-success sinpromi"> <i class="fas fa-save fa-3x"></i> <br>Guardar </button>
                </div>
                {% if citizen %}
                    <div class="col-6 text-center">
                        <a id="btn-remove" class="btn btn-danger sinpromi" onclick=""> <i class="fas fa-trash fa-3x"></i><br/>Borrar</a>
                    </div>
                {% endif %}
            </div>
        </form>
        {% if citizen %}
            <script>
                $("#btn-remove").click(function(){
                    if (confirm("Esta seguro/a de que desea borrar este elemento?")) {
                        {% ark 'pwa-operator-citizen-remove' 'div-content' citizen_id=citizen.pk %}
                    } else
                        return false;
                });
            </script>
        {% endif %}
    </div>
</div>
