<div class="col-12">
    <div class="row my-2 px-3">
        <div class="col-12 my-2 text-center text-success"><strong>{{wif.waste.name}}</strong></div>
        <div class="col-6 px-2 my-2 bg-light text-center">Umbral alerta:</div>
        <div class="col-6 px-2 my-2 text-center text-danger">{{wif.alert_filling_degree|floatformat:0}}%</div>
        <div class="col-6 px-2 my-2 bg-light text-center">Umbral aviso:</div>
        <div class="col-6 px-2 my-2 text-center text-warning">{{wif.warning_filling_degree|floatformat:0}}%</div>
    </div>
    <div class="row my-2"><div class="col-12">&nbsp;</div></div>
    <div class="row my-2">
        <form method="post" action="{% url 'pwa-operator-waste-save' %}">
            {% csrf_token %}
            <input type="hidden" name="waste_id" value="{{wif.pk}}">
            <div class="col-12 text-center">Indique porcentaje de llenado (%)</div>
            <div class="offset-2 col-8 text-center">
                <input class="w-100 text-center" type="number" value="{{wif.filling_degree|floatformat:0}}" name="filling_degree">
            </div>
            <div class="row my-2"><div class="col-12">&nbsp;</div></div>
            <div class="row my-2"><div class="col-12">&nbsp;</div></div>
            <div class="col-12 text-center">
                <button type="submit" class="btn btn-success sinpromi">
                    <i class="fas fa-save fa-3x"></i> <br>Guardar
                </button>
            </div>
            <div class="col-12 mt-2 text-center">&Uacute;ltimo registro: {{wif.filling_degree}} %</div>
        </form>

    </div>
</div>
