{% load i18n %}


<div class="row main-th py-3 m-0">
    <div class="col-1"> {% trans 'Fecha' %} </div>
    <div class="col-2"> {% trans 'Vehículo' %} </div>
    <div class="col-2"> {% trans 'Conductor' %} </div>
    <div class="col-2"> {% trans 'Instalación' %} </div>
    <div class="col-2"> {% trans 'Residuo' %} </div>
    <div class="col-2"> {% trans 'Destino' %} </div>
    <div class="col-1"></div>
</div>

{% for item in items %}
    <div class="row list-item pt-2 pb-2 m-0" id="row_{{item.id}}">
        <div class="col-1">{{ item.ini_date|date:"d-m-Y H:i" }}</div>
        <div class="col-2">{{ item.driver.truck }}</div>
        <div class="col-2">{{ item.driver.name }}</div>
        <div class="col-2">{{ item.source.description }}</div>
        <div class="col-2">{{ item.waste.waste.name }}</div>
        <div class="col-2">{{ item.target.description }}</div>
        <div class="col-1 text-right">
            <a class="btn btn-xs ark" data-url="{% url "routes-form" %}" data-target-modal="common-modal" data-obj_id="{{item.id}}" 
                title="{% trans 'Editar' %}"><i class="fas fa-edit"></i></a> 
            <a class="btn btn-xs ark" data-url="{% url "routes-remove" %}" data-target="route-list" data-obj_id="{{item.id}}" 
                title="{% trans 'Borrar' %}" data-confirm="{% trans "Are you sure to remove this element?" %}">
                <i class="fas fa-trash"></i></a> 
        </div>
    </div>
{% endfor %}

