{% extends "pwa-base.html" %}
{% load i18n static %}
{% block extra_head %}
<link rel="manifest" href="/static/manifest.json">
<meta name="theme-color" content="#000000">
{% endblock %}
{% block content %}
<div class="col-12 mt-3">
    <div class="card">
        <div class="card-header">
            <h2 class="card-title">Datos del ciudadano</h2>
        </div>
        <div class="card-body">
            <form action="{% url 'citizens-signup' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="uuid" value="{{ form.instance.uuid }}">
                <div class="form-group">
                    <label for="name">Nombre(s)</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Nombre completo" value="{{form.instance.first_name}}" required>
                </div>
                <div class="form-group">
                    <label for="surname">Apellidos</label>
                    <input type="text" class="form-control" id="surname" name="surname" placeholder="Apellidos" value="{{form.instance.last_name}}" required>
                </div>
                <!-- DNI / NIE -->
                <div class="form-group">
                    <label for="identification">DNI / NIE</label>
                    <input type="text" class="form-control" id="identification" name="identification" placeholder="DNI / NIE" value="{{form.instance.identification}}"  required>
                </div>
                <div class="form-group">
                    <label for="phone">Teléfono</label>
                    <input type="text" class="form-control" id="phone" name="phone" placeholder="Teléfono" value="{{form.instance.phone}}"  required>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email" value="{{form.instance.email}}"  required>
                </div>
                <!-- Direccion -->
                <div class="form-group">
                    <label for="address">Dirección</label>
                    <input type="text" class="form-control" id="address" name="address" placeholder="Dirección" value="{{form.instance.address}}"  required>
                </div>
                <!-- Postcode -->
                <div class="form-group">
                    <label for="postcode">Código Postal</label>
                    <input type="text" class="form-control" id="postcode" name="postcode" placeholder="Código Postal" value="{{form.instance.postcode}}"  required>
                </div>
                <!-- Matricula habitual -->
                <div class="form-group">
                    <label for="usual_plate">Matrícula habitual</label>
                    <input type="text" class="form-control" id="usual_plate" name="usual_plate" placeholder="Matrícula habitual" value="{{form.instance.usual_plate}}"  required>
                </div>

                <div class="form-group">
                    <label for="town">Municipio</label>
                    <select class="form-control" id="town" name="town" required>
                        <option value="" disabled selected>Selecciona un municipio</option>
                        {% for town in towns %}
                            <option value="{{ town.id }}" {% if form.instance.town == town %}selected{% endif %}>{{ town.name }}</option>
                        {% endfor %}
                    </select>
                </div>

                <!-- Botones de aceptar y cancelar -->
                <div class="form-group mt-2">
                    <div class="row">
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary w-100">Aceptar</button>

                        </div>
                        <div class="col-4">
                            <button type="reset" class="btn btn-secondary w-100">Limpiar</button>
                        </div>
                        <div class="col-4">
                            <a href="{% url 'citizens-login' %}" class="btn btn-secondary w-100">Cancelar</a>

                        </div>
                    </div>


                </div>

            </form>
        </div>
    </div>
</div>
{% endblock %}