<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Citizens Email</title>

    </head>
    <body>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center">
                    <img src="https://puntoslimpiostenerife.es/static/images/logo-cabtfe-positivo.png" alt="Logo Cabildo" title="Logo Cabildo" height="200">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <img src="https://puntoslimpiostenerife.es/static/images/logo-gesplan.png" alt="Logo Gesplan" title="Logo Gesplan" height="200">
                </td>
            </tr>
            <tr>
                <td align="center">
                    <h1>Gesplan. Plataforma del ciudadano</h1>
                    <p>
                        Alguien ha solicitado acceder a la plataforma de certificados de gestión de residuos de Gesplan utilizando tu DNI. 
                        Si no has sido tú, ignora este email.
                        Si has sido tú, por favor, haz clic en el siguiente enlace para acceder a la plataforma:
                    </p>
                    <p>
                        <a href="{{url_cert}}">Acceder a la plataforma</a>
                    </p>
                </td>
            </tr>
        </table>
    </body>
</html>