<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Citizens Email</title>
        <link rel="stylesheet" href="https://puntoslimpiostenerife.es/static/css/styles.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="https://puntoslimpiostenerife.es/static/images/logo-cabtfe-positivo.png" class="img-fluid" alt="Logo">
                  <img src="https://puntoslimpiostenerife.es/static/images/logo-gesplan.png" class="img-fluid" alt="Logo">
                </div>
                <div class="col-8 offset-2 mt-2">
                    <h1 class="text-center">Gesplan. Plataforma del ciudadano</h1>
                    <p class="text-center">
                        Alguien ha solicitado acceder a la plataforma de certificados de gestión de residuos de Gesplan utilizando tu DNI. 
                        Si no has sido tú, ignora este email.
                        Si has sido tú, por favor, haz clic en el siguiente enlace para acceder a la plataforma:
                    </p>
                    <p class="text-center">
                        <a href="{{url_cert}}">Acceder a la plataforma</a>
                    </p>
                </div>
        </div>

    </body>
</html>