{% extends 'pwa-base.html' %}
{% load i18n static %}
{% block content %}
{% if error %}
<div class="col-12 mt-3 justify-center">
    <a href="#" class="btn btn-danger btn-xl w-50 p-4">
    <i class="fas fa-exclamation-triangle fa-2xl"></i> 
    </a>
    <p class="text-danger text-center">El certificado no se ha podido validar.</p>
</div>
{% else %}
<div class="col-12 mt-3 text-center">
    <a href="#" class="btn btn-success w-50 p-4">
    <i class="fas fa-check"></i> 
    </a>
    <br class="text-success">El certificado es válido.
</div>
{% endif %}

{% endblock %}