{% load i18n %}

<div class="row main-th py-3 m-0">
    <div class="col-2"> {% trans 'Fecha' %} </div>
    <div class="col-4"> {% trans 'Material' %} </div>
    <div class="col-2"> {% trans 'Cantidad' %} </div>
    <div class="col-2"> {% trans 'Devuelto' %} </div>
    <div class="col-2"></div>
</div>

{% for item in obj.items.all %}
    <div class="row list-item pt-2 pb-2 m-0" id="row_{{item.id}}">
        <div class="col-2">{{ item.date|date:"d-m-Y H:i" }}</div>
        <div class="col-4">{{ item.item.name|default:"" }}</div>
        <div class="col-2">{{ item.amount|default:0 }}</div>
        <div class="col-2">{%if item.returned%}{{item.return_date|date:"d-m-Y H:i"}}{%else%}<i class="fas fa-times"></i>{%endif%}</div>
        <div class="col-2 text-right">
            <a class="btn btn-xs ark" data-url="{% url "facilities-items-return" %}" data-target="div-fac-items" 
                data-obj_id="{{item.id}}" title="{% trans 'Devolver' %}" 
                data-confirm="{%trans "Confirma que va a devolver este elemento?"%}"> <i class="fas fa-arrow-left"></i></a> 
            <a class="btn btn-xs ark" data-url="{% url "facilities-items-remove" %}" data-target="div-fac-items" 
                data-obj_id="{{item.id}}" title="{% trans 'Borrar' %}" data-confirm="{%trans "Are you sure to remove this element?"%}">
                <i class="fas fa-trash"></i></a> 
        </div>
        <div class="col-10 offset-2">{{ item.desc|default:"" }}</div>
    </div>
{% endfor %}

