{% load i18n %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="fa fa-warehouse"></i>&nbsp; {% trans 'Instalación' %} </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> </div>
    </div>
</div>

<div id="div-notification"></div>

<div class="row justify-center">
    <div class="col-6">
        <div class="greybox-sm p-1">
            {% trans "Código" %}
            <input type="text" class="form-control autosave" id="code" name="code" value="{{obj.code|default:""}}" 
                title="{{obj.code}}" data-model-name="gestion.facility" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Número de registro..." /> <span id="code__msg"></span>
        </div>
    </div>
    <div class="col-6">
        <div class="greybox-sm p-1">
            {% trans "Nima" %}
            <input type="text" class="form-control autosave" id="nima" name="nima" value="{{obj.nima|default:""}}" 
                title="{{obj.nima}}" data-model-name="gestion.facility" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="NIF..." /> <span id="nima__msg"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="greybox-sm p-1">
            {% trans "Descripción" %}
            <input type="text" class="form-control autosave" id="description" description="description" value="{{obj.description|default:""}}" 
                title="{{obj.description}}" data-model-description="gestion.facility" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Nombre..." /> <span id="description__msg"></span>
        </div>
    </div>
   <div class="col-12">
        <div class="greybox-sm p-1">
            {% trans "Dirección" %}
            <input type="text" class="form-control autosave" id="address" name="address" value="{{obj.address|default:""}}" 
                title="{{obj.address}}" data-model-name="gestion.facility" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Teléfono..." /> <span id="address__msg"></span>
        </div>
    </div>
    <div class="col-12">
        <div class="greybox-sm p-1">
            {% trans "Ciudad" %}
            <input type="text" class="form-control autosave" id="town" name="town" value="{{obj.town|default:""}}" 
                title="{{obj.town}}" data-model-name="gestion.facility" data-obj-id="{{obj.id}}" data-url="{%url "autosave_field"%}" 
                data-target="div-notification" placeholder="Correo electrónico..." /> <span id="town__msg"></span>
        </div>
    </div>
</div>

<div class="d-flex justify-content-end p-2">
    <button type="button" class="btn btn-primary ark" data-bs-dismiss="modal" data-url="{% url "facilities-list" %}"
        data-target="fac-list">{% trans "Guardar" %}</button>
    {%comment%}
    <button type="button" class="btn btn-sm ark cancel" data-bs-dismiss="modal" data-url="{% url "guest-remove" %}" data-target="guest-list"
        data-obj_id="{{obj.id}}" data-confirm="{% trans "Are you sure to remove this element?" %}">{% trans "Remove" %}</button>
    {%endcomment%}
</div>

