{% load static %}

<table class="table" cellspacing="0" border="0">
	<tr>
		<td class="cell" colspan=1 bgcolor="#D9D9D9">
            <b><font face="Arial" color="#000000">INFORMACIÓN SOBRE LA ACEPTACIÓN DEL RESIDUO</font></b></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Fecha entrega:</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Kg. netos recibidos</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Aceptación</font></td>
		<td class="cell"><font face="Arial" color="#000000">Sí ☐</font> <br/><font face="Arial" color="#000000">No ☐</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Fecha aceptación/rechazo</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Acción en caso de rechazo</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Fecha devolución/reenvío</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Motivo de rechazo</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Firma del gestor de la instalación de destino recepción del residuo</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Firma del gestor de la instalación de destino aceptación/rechazo residuo</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
</table>
