{% load static %}

<table class="table" cellspacing="0" border="0">
	<tr>
		<td class="cell" colspan="2" bgcolor="#D9D9D9">
            <b><font face="Arial" color="#000000">INFORMACIÓN RELATIVA AL TRANSPORTISTA</font></b></td>
	</tr>
	<tr>
		<td class="cell"><b><font face="Arial" color="#000000">MATRÍCULA:</font></b></td>
		<td class="cell" sdval="0" sdnum="3082;0;;;"><font face="Arial" color="#000000">{{datas.trans_plate}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIF</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_nif}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Razón social/Nombre y apellidos</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_name}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIMA</font></td>
		<td class="cell" sdval="3800000471" sdnum="3082;"><font face="Arial" color="#000000"></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Nº inscripción</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_insc}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Dirección</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_addr}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">C.P.</font></td>
		<td class="cell" sdval="38005" sdnum="3082;"><font face="Arial" color="#000000">{{datas.trans_cp}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Municipio</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_town}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Provincia</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_province}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Teléfono</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_phone}}</font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Correo electrónico</font></td>
		<td class="cell"><font face="Arial" color="#000000">{{datas.trans_email}}</font></td>
	</tr>
</table>
