{% load static %}

<table class="table" cellspacing="0" border="0">
	<tr>
		<td class="cell" colspan="2" bgcolor="#D9D9D9"><b><font face="Arial" color="#000000">
            INFORMACIÓN DEL SISTEMA DE RESPONSABILIDAD AMPLIADA DEL PRODUCTOR QUE, EN SU CASO, DECIDE LA INSTALACIÓN</font></b></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIF</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Razón social/Nombre</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">NIMA</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Nº inscripción</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Dirección</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">C.P.</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Municipio</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Provincia</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Teléfono</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
	<tr>
		<td class="cell"><font face="Arial" color="#000000">Correo electrónico</font></td>
		<td class="cell"><font face="Arial" color="#000000"><br></font></td>
	</tr>
</table>
