{% extends 'base.html' %}
{% load i18n %}

{% block central_content %}
    {% include "contracts/contracts-search.html" %}

    <div class="content mt-4">
        <div class="toolbar-content p-3">
	        <h2 class="pathway b-right">{%trans 'Recogidas'%} 
                <span id="items-counter" class="badge badge-secondary">{{items|length}}</span></h2>
            <button type="button" class="btn btn-sm ark new" data-url="{%url "contracts-form"%}" data-target-modal="common-modal"> 
                <i class="fas fa-plus"></i> {% trans 'Crear Contrato' %}</button> 
        </div>
        <div id="contracts-list" class="ml-list">{% include "contracts/contracts-list.html" %}</div>
    </div>
    {% include "common-modal.html" %}
{% endblock central_content %}
