{% extends "pwa-base.html" %}
{% load i18n static %}

{% block content%}
    <script> getLocation("address", "btn-log", "btn-end"); </script>
    <button id="btn-log" class="ark" style="display:none" 
        data-url="{% url "pwa-access-log" %}" data-target="" data-location="" data-finish="True"></button>

    <div class="row m-0">
        <div class="col-4 text-start date my-2">{{now|date:"d-m-Y"}}</div>
        <div class="col-4 offset-4 time text-end my-2">{{now|date:"H:i"}}</div>
        <div class="col-12 text-center address my-2 small"><i class='fas fa-map-marker-alt'></i> <span id="address"><i class="fa fa-spinner"></i></span></div>
    </div>

    <div class="row m-0">
        <div class="col-12">
            <a id="btn-end" class="btn btn-primary powericon w-100" href="{%url 'pwa-logout-confirm'%}" disabled> {% trans "Finalizar jornada"%} </a>
        </div>
    </div>
{% endblock %}
