{% extends "pwa-base.html" %}
{% load i18n %}

{% block content%}
    <div class="row mx-0 my-4">
        <div class="col-12" id="div-step1">
            {% trans "Descarga" %}:<br/>
            <span id="target-name">
                {% if route.waste.download_point != None %} 
                    {{route.waste.download_point.description}} 
                {% else %} 
                    {% trans "No hay destino por defecto" %}
                {% endif %}
            </span>
            <br/> <br/>
            <div class="hidde" id="pl-list" style="display:none">
                <select class="form-control" id="target" name="target">
                    <option value="">{% trans "-- Seleccione un punto de descarga --" %}</option>
                    {% for item in item_list %} <option value="{{item.id}}">{{item.description}}</option> {% endfor %}
                </select>
                <br/>
            </div>
        </div>
        <div class="col-6 my-4">
            <button class="btn btn-md btn-primary w-100" onclick="$('#pl-list').toggle()">
                <strong>{% trans "Cambiar destino" %}</strong></button>
        </div>
        <div class="col-6 my-4">
            <button class="btn btn-md btn-primary w-100 ark" id="btn-send" data-url="{% url "pwa-driver-mpl-routes-finish" %}" 
                data-target="div-step2" data-route="{{route.id}}" data-value="{{route.waste.download_point.id}}">
                <strong>{% trans "Continuar" %}</strong></button>
            <br/> <br/>
        </div>
    </div>
    <div id="div-step2"> </div>
</div>
<script>
    $("#target").change(function(){ 
        $('#btn-send').data('value', $(this).val()); 
        $('#target-name').html($("#target option:selected").html());
    });
</script>
{% endblock %}
