{% load i18n %}


<div class="row main-th py-3 m-0">
    <div class="col-1"> {% trans 'F. de inicio' %} </div>
    <div class="col-1"> {% trans 'F. de fin' %} </div>
    <div class="col-2"> {% trans 'Presupuesto' %} </div>
    <div class="col-2"> {% trans 'Nombre' %} </div>
    <div class="col-2"> {% trans 'Epígrafe' %} </div>
    <div class="col-2"> {% trans 'Fichero' %} </div>
    <div class="col-2"></div>
</div>

{% for item in items %}
    <div class="row list-item pt-2 pb-2 m-0" id="row_{{item.id}}">
        <div class="col-1">{{ item.ini_date|date:"d-m-Y" }}</div>
        <div class="col-1">{{ item.end_date|date:"d-m-Y" }}</div>
        <div class="col-2">{{ item.amount }}</div>
        <div class="col-2">{{ item.name|default:"" }}</div>
        <div class="col-2">{{ item.epigraph.name|default:"" }}</div>
        <div class="col-2">{% if item.file %}<a href="{{item.file.url}}" target="_blank">PDF</a>{% endif %}</div>
        <div class="col-2 text-right">
            <a class="btn btn-xs ark" data-url="{%url "contracts-lots-form"%}" data-target-modal="common-modal" 
                data-obj_id="{{item.id}}" title="{%trans 'Editar'%}"><i class="fas fa-edit"></i></a> 
            <a class="btn btn-xs ark" data-url="{% url "contracts-lots-remove" %}" data-target="lots-list" 
                data-obj_id="{{item.id}}" title="{%trans 'Borrar'%}" data-confirm="{%trans "Are you sure to remove this element?"%}">
                <i class="fas fa-trash"></i></a> 
        </div>
    </div>
{% endfor %}

