{% load i18n %}


<div class="row modal-head m-0">
    <div class="col-11"><i class="far fa-building"></i>&nbsp; {% trans 'Clonar Turnos' %} </div>
    <div class="col-1">
        <div class="d-flex justify-content-end"> 
            <button type="button" class="btn btn-lg" data-bs-dismiss="modal" title="{% trans "Close" %}">
            <i class="fas fa-times"></i></button> </div>
    </div>
</div>

<br/>
<form method="POST" action="{% url "shifts-clone-shifts" %}" class="form" id="shifts-clone-form">
    {% csrf_token %}
    {%comment%}
    {% trans "Año que se va a clonar:" %} 
    <input class="form-control" name="ini_year" id="ini_year" type="number" min="1900" max="2099" step="1" value="{{current_year}}"/>
    <br/>
    {% trans "Año donde se clonaran los turnos:" %} 
    <input class="form-control" name="end_year" id="end_year" type="number" min="1900" max="2099" step="1" value="{{next_year}}" />
    {%endcomment%}
    {% trans "Ficha de inicio para clonar:" %} 
    <input class="form-control" name="ini_date" id="ini_date" type="date" value=""/>
    <br/>
    {% trans "Fecha de fin para clonar:" %} 
    <input class="form-control" name="end_date" id="end_date" type="date" value=""/>
    <br/>
    {% trans "Fecha de inicio para los nuevos turnos:" %} 
    <input class="form-control" name="new_date" id="new_date" type="date" value=""/>
    <div class="modal-footer"> 
        <button type="submit" class="cancel btn btn-tools tools-danger btn-labeled" data-bs-dismiss="modal"> 
            <i class="fas fa-window-close"></i> {% trans "Clonar" %}</button> 
		<a class="cancel btn btn-tools btn-labeled" data-bs-dismiss="modal" aria-label="Close">
            <i class="fas fa-window-close"></i> {% trans "Cerrar" %}</a>
    </div>
</form>

